:root {
    /* Colors */
    --clr-primary: hsl(12, 88%, 59%);
    --clr-primary-light: hsl(13, 100%, 72%);
    --clr-primary-dark: hsl(12, 88%, 48%);
    --clr-dark-blue: hsl(233, 26%, 24%);
    --clr-footer-bg: hsl(234, 25%, 14%);
    --clr-grayish-blue: hsl(214, 15%, 55%);
    --clr-light-bg: hsl(0, 0%, 98%);
    --clr-border: hsl(0, 0%, 91%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-primary: "Be Vietnam Pro", sans-serif;

    --size-0f-paragraph: clamp(1.2rem, 3vw, 1.6rem);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    color: var(--clr-grayish-blue);
    line-height: 1.5;
}

h1,
h2,
h3 {
    line-height: 1.2;
    color: var(--clr-dark-blue);
}

button {
    font: inherit;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.container2 {
    width: 90%;
    max-width: 160rem;
    margin: 0 auto;
}

.container3 {
    background: var(--clr-primary);
    margin-top: clamp(3rem, 5vw, 6rem);
}

.container4 {
    background: var(--clr-footer-bg);
}




/* navigation section */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 0;
}

.nav-middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
}

.nav-middle a {
    color: var(--clr-dark-blue);
    font-weight: 500;
    font-size: 1.5rem;
}


.nav-middle a:hover {
    color: var(--clr-primary-dark);
}

.nav-button,
.first-button,
.started {
    background: var(--clr-primary);
    color: var(--clr-white);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.3rem 3rem;
    white-space: nowrap;

    border-radius: 3rem;

    box-shadow: 0px 5px 12px 0px rgba(255, 143, 112, 0.75);
    -webkit-box-shadow: 0px 5px 12px 0px rgba(255, 143, 112, 0.75);
    -moz-box-shadow: 0px 5px 12px 0px rgba(255, 143, 112, 0.75);
}

.nav-button:hover,
.first-button:hover,
.started:hover {
    background: var(--clr-primary-light);
}


/* Hero section */

.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(3rem, 6vw, 10rem);
    align-items: center;

    padding-block: clamp(5rem, 8vw, 8rem);
}

.left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    order: 1;
}

.left-side h1 {
    font-size: clamp(3rem, 5vw, 4.8rem);
}

.left-side p {
    font-size: var(--size-0f-paragraph);
    max-width: 40rem;
}

.right-side {
    order: 2;
}

.right-side img {
    width: 100%;
    max-width: 55rem;
    margin-inline: auto;
    display: block;
}



/* List section */

.second-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(3rem, 5vw, 4.4rem);

    padding-block: clamp(2rem, 6vw, 3rem);
}

.question {
    display: flex;
    flex-direction: column;
    gap: clamp(2rem, 5vw, 3rem);
    max-width: 44rem;
}

.question h2 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}

.question p {
    font-size: var(--size-0f-paragraph);
    max-width: 40rem;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(2rem, 5vw, 4.5rem);
}

.list-item {
    display: flex;
    gap: clamp(1.8rem, 5vw, 3.5rem);
}

.txt {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.no span {
    background: var(--clr-primary);
    color: var(--clr-white);

    border: none;
    border-radius: 32px;
    padding: 10px 22px;
    font-weight: 600;
    font-size: 1.3rem;
}

.txt h2 {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
}

.txt p {
    font-size: var(--size-0f-paragraph);
    max-width: 48rem;
}


/* Review card section */

.review {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: clamp(5rem, 8vw, 8rem);
}

.card-heading h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}

.card-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

    margin-top: clamp(6rem, 6vw, 9rem);
}

.item {
    background: #fafafa;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    position: relative;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-inline: 1.5rem;
}

.item h3 {
    font-size: clamp(1.5rem, 2vw, 1.8rem);
}

.item p {
    font-size: var(--size-0f-paragraph);
    text-align: center;
}

.item img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 7rem;
}

.card-button {
    margin-top: clamp(3rem, 4vw, 4rem);
}




/* Fourth section */

.fourth {
    padding-block: clamp(3rem, 5vw, 5rem);

    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.fourth-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-head {
    max-width: 50rem;
}

.section-head h2 {
    font-size: clamp(3rem, 5vw, 4rem);
    font-weight: 550;
    color: white;
}

.fourth-button {
    background: var(--clr-white);
    color: var(--clr-primary);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 1.3rem 3rem;
    white-space: nowrap;

    border-radius: 3rem;
}

.fourth-button:hover {
    background: rgb(240, 237, 237);
}



/* Footer section */

.footer-parent {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    padding-block: clamp(3rem, 5vw, 6rem);
}

.footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footeritem2 {
    display: flex;
    gap: 1rem;
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer2 a {
    color: #b9babf;
    font-size: var(--size-0f-paragraph);
    font-weight: 500;
}

.footer2 a:hover {
    color: var(--clr-primary);
}

.footer4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footerlast {
    display: flex;
    gap: 1rem;
}

.footerlast input {
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;

    outline: none;
    flex: 1;
    border: 1px solid transparent;
}

.footerlast input:focus {
    border: 1px solid var(--clr-primary);
}

.footerlast button {
    background: var(--clr-primary);
    padding-inline: 2rem;

    border: none;
    border-radius: 2rem;

    color: white;
    font-weight: 600;
}

.footerlast button:hover {
    background: var(--clr-primary-light);
}

.footerlast2 {
    font-size: 1.3rem;
    font-weight: 500;
}







/* media queries */

@media screen and (max-width: 55.625rem) {
    .nav-middle {
        display: none;
    }

    .first-section {
        grid-template-columns: 1fr;
    }

    .right-side {
        order: 1;
    }

    .left-side {
        order: 2;
        align-items: center;
        text-align: center;
    }

    .second-section {
        grid-template-columns: 1fr;
    }

    .question {
        text-align: center;
        align-items: center;
        margin-inline: auto;
    }

    .list {
        margin-inline: auto;
    }

    .card-parent {
        grid-template-columns: 1fr;
    }

    .fourth-section {
        display: block;
        text-align: center;
    }

    .section-head {
        margin-inline: auto;
    }

    .section-button {
        margin-top: 2rem;
    }

    /* footer section */


    .footer-parent {
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        grid-template-areas:
            "form form"
            "leftlink rightlink"
            "icons icons"
            "logo logo"
            "copyright copyright";
    }

    .footer1 {
        display: contents;
    }

    .footer4 {
        display: contents;
    }

    .footeritem {
        grid-area: logo;
    }

    .footeritem2 {
        grid-area: icons;
    }

    .linkA {
        grid-area: leftlink;
    }

    .linkB {
        grid-area: rightlink;
    }

    .footerlast {
        grid-area: form;
    }

    .footerlast2 {
        grid-area: copyright;
    }

    @media screen and (max-width: 33rem) {

        .nav-button,
        .first-button,
        .started {
            padding: 1rem 2rem;
        }

        .fourth-button {
            padding: 1rem 2rem;
        }
    }
}